---
layout: archive
title: "Electronics and PCB Design Projects"
permalink: /electronics/
author_profile: true
---

<p>
  I immensely love electronic circuit designing, PCB layout and routing, and soldering components! During my undergrad years,
  I loved spending several hours on such projects.

  Check out this <a href="/gallery/"><button type="button" class="btn btn--info"><i class="fa fa-image"></i> Gallery </button></a> page displaying some
  of those projects. Also, I have a <b>virtual PCB junkyard</b> <a href="https://drive.google.com/open?id=1TXu7DdME_ywJt413B_D5stS5xiMYVQX4"><button type="button" class="btn btn--info"><i class="fa fa-google"></i> Google Drive</button></a>
  <a href="https://flic.kr/s/aHsmtink3U"><button type="button" class="btn btn--info"><i class="fa fa-flickr"></i> Flickr </button></a>
  to dump all the PCBs after finishing the project.
</p>


{% include base_path %}


{% for post in site.electronics %}
  {% include archive-single.html %}
{% endfor %}

