---
layout: archive
title: "Media Gallery"
permalink: /gallery/
author_profile: true
---


<a href="https://gurumulay.github.io/gallery/gallery-1/"><button class="btn btn--inverse">Computer Graphics</button></a>
<a href="https://gurumulay.github.io/gallery/gallery-2/"><button class="btn btn--inverse">Printed Circuit Boards</button></a>
<a href="https://gurumulay.github.io/gallery/gallery-robocon12-1/"><button class="btn btn--inverse">Robocon'12 - India</button></a>
<a href="https://gurumulay.github.io/gallery/gallery-robocon12-2/"><button class="btn btn--inverse">Robocon'12 - Hong-Kong</button></a>
<!--<a href="https://gurumulay.github.io/gallery/gallery-4/" ><button class="btn btn--inverse"> - </button></a>-->
<br>

<a href="https://gurumulay.github.io/gallery/gallery-robocon13-1/"><button class="btn btn--inverse">Robocon'13 - India</button></a>
<a href="https://gurumulay.github.io/gallery/gallery-robocon13-2/"><button class="btn btn--inverse">Robocon'13 - Vietnam</button></a>
<a href="https://gurumulay.github.io/gallery/gallery-7/"><button class="btn btn--inverse">-</button></a>
<!--<a href="https://gurumulay.github.io/gallery/gallery-4/" ><button class="btn btn--inverse">-</button></a>-->
<!--<a href="https://gurumulay.github.io/gallery/gallery-4/" ><button class="btn btn--inverse"> - </button></a>-->
<br>

<!--<button type="button" class="btn btn-light">Light</button>-->

<!--<div class="w3-bar">-->
  <!--<a href="https://gurumulay.github.io/gallery/gallery-1/" ><button class="w3-bar-item w3-button w3-pale-blue w3-border w3-border-blue ">Computer Graphics</button></a>-->
  <!--<a href="https://gurumulay.github.io/gallery/gallery-2/" ><button class="w3-bar-item w3-button w3-pale-blue w3-border w3-border-blue ">Printed Circuit Boards</button></a>-->
  <!--<a href="https://gurumulay.github.io/gallery/gallery-3/" ><button class="w3-bar-item w3-button w3-pale-blue w3-border w3-border-blue ">Robocon 2012</button></a>-->
  <!--<a href="https://gurumulay.github.io/gallery/gallery-4/" ><button class="w3-bar-item w3-button w3-pale-blue w3-border w3-border-blue ">Robocon 2013</button></a>-->
  <!--<a href="https://gurumulay.github.io/gallery/gallery-4/" ><button class="w3-bar-item w3-button w3-pale-blue w3-border w3-border-blue ">Robocon 2013</button></a>-->
  <!--<a href="https://gurumulay.github.io/gallery/gallery-4/" ><button class="w3-bar-item w3-button w3-pale-blue w3-border w3-border-blue "> -&#45;&#45; </button></a>-->

<!--</div>-->

<!--<div class="w3-bar">-->
  <!--<a href="https://gurumulay.github.io/gallery/gallery-1/" ><button class="w3-bar-item w3-button w3-pale-blue w3-border w3-border-blue ">Computer Graphics</button></a>-->
  <!--<a href="https://gurumulay.github.io/gallery/gallery-2/" ><button class="w3-bar-item w3-button w3-pale-blue w3-border w3-border-blue ">Printed Circuit Boards</button></a>-->
  <!--<a href="https://gurumulay.github.io/gallery/gallery-3/" ><button class="w3-bar-item w3-button w3-pale-blue w3-border w3-border-blue ">Robocon 2012</button></a>-->
  <!--<a href="https://gurumulay.github.io/gallery/gallery-4/" ><button class="w3-bar-item w3-button w3-pale-blue w3-border w3-border-blue ">Robocon 2013</button></a>-->
  <!--<a href="https://gurumulay.github.io/gallery/gallery-4/" ><button class="w3-bar-item w3-button w3-pale-blue w3-border w3-border-blue ">Robocon 2013</button></a>-->
  <!--<a href="https://gurumulay.github.io/gallery/gallery-4/" ><button class="w3-bar-item w3-button w3-pale-blue w3-border w3-border-blue "> -&#45;&#45; </button></a>-->

<!--</div>-->


<!--Resources:-->
<!--https://owlcation.com/stem/how-to-align-images-side-by-side-->

<!--<img class="alignnone wp-image-577" alt="drsg" src="http://stuartgeiger.com/images/2008/07/drsg.png" width="810" height="265">-->

<!--ppm to png conversion:-->
<!--$ for file in *.ppm; do convert "$file" "${file%.*}.png" ; done;-->


{% include base_path %}


{% for post in site.gallery %}
  {% include archive-single-gallery.html %}
{% endfor %}


<!--<a href="/images/500x300.png"><img  alt="" src="/images/500x300.png" style="float: left; width: 23%; margin-right: 1%; margin-bottom: 0.5em;"  ></a><a href="/images/500x300.png"><img  alt="" src="/images/500x300.png" style="float: left; width: 23%; margin-right: 1%; margin-bottom: 0.5em;"  ></a><a href="/images/500x300.png"><img  alt="" src="/images/500x300.png" style="float: left; width: 23%; margin-right: 1%; margin-bottom: 0.5em;"  ></a><a href="/images/500x300.png"><img  alt="" src="/images/500x300.png" style="float: left; width: 23%; margin-right: 1%; margin-bottom: 0.5em;"  ></a>-->

<!--&lt;!&ndash; always end image block with &ndash;&gt;-->
<!--<p style="clear: both;">-->


