---
layout: archive
title: "Me"
permalink: /me/
author_profile: true
---

<!--Resources:-->
<!--https://owlcation.com/stem/how-to-align-images-side-by-side-->
<!--https://multimedia.journalism.berkeley.edu/tutorials/html/-->

<!--<img class="alignnone wp-image-577" alt="drsg" src="http://stuartgeiger.com/images/2008/07/drsg.png" width="810" height="265">-->


{% include base_path %}


{% for post in site.me %}
  {% include archive-single.html %}
{% endfor %}


<!--<p>Favourite Bands and Artists:</p>-->

<!-- in one line -->
<!--<a href="https://i.pinimg.com/736x/a4/a6/f4/a4a6f4df4360bb42548728b92e50a0cf&#45;&#45;oasis-cd-oasis-album.jpg"><img  alt="" src="https://i.pinimg.com/736x/a4/a6/f4/a4a6f4df4360bb42548728b92e50a0cf&#45;&#45;oasis-cd-oasis-album.jpg" style="float: left; width: 23%; margin-right: 70%; margin-bottom: 0.5em;"  ></a>-->

<!--<a href="https://f4.bcbits.com/img/a2109534348_10.jpg"><img  alt="" src="https://f4.bcbits.com/img/a2109534348_10.jpg" style="float: left; width: 23%; margin-right: 70%; margin-bottom: 0.5em;"  ></a>-->

<!--<a href="https://mir-s3-cdn-cf.behance.net/project_modules/disp/68bc377491213.560ac51f81d23.jpg"><img  alt="" src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/68bc377491213.560ac51f81d23.jpg" style="float: left; width: 23%; margin-right: 70%; margin-bottom: 0.5em;"  ></a>-->

<!--<a href="https://c.saavncdn.com/500/KK-Best-of-Me-Hindi-2015-500x500.jpg"><img  alt="" src="https://c.saavncdn.com/500/KK-Best-of-Me-Hindi-2015-500x500.jpg" style="float: left; width: 23%; margin-right: 70%; margin-bottom: 0.5em;"  ></a>-->


<!-- tablular  form -->

<!--<a href="https://i.pinimg.com/736x/a4/a6/f4/a4a6f4df4360bb42548728b92e50a0cf&#45;&#45;oasis-cd-oasis-album.jpg"><img  alt="" src="https://i.pinimg.com/736x/a4/a6/f4/a4a6f4df4360bb42548728b92e50a0cf&#45;&#45;oasis-cd-oasis-album.jpg"  align="left" width="100" height="100" style="width: 15%; margin-right: 50px; margin-bottom: 0.5em;" ></a>-->
<!--<p style="width: 95%; margin-right: 1px; margin-bottom: 3em;" >Oasis - Live Forever! dkaskdaskakv kddakaskkaskca aksdkasfkaskfak kdkfkasfakfk askdakskassfkfkassf askdkaf assasdasd asfdas asfsadasf sdafaefkalfs afasfasf</p>-->

<!--<a href="https://f4.bcbits.com/img/a2109534348_10.jpg"><img  alt="" src="https://f4.bcbits.com/img/a2109534348_10.jpg" align="left" width="100" height="100" style="width: 15%; float: left; margin-right: 50px; margin-bottom: 0.5em;"  ></a>-->
<!--<p style="width: 95%; margin-right: 1px; margin-bottom: 3em;" >God is an Astronaut dkaskdaskakv kddakaskkaskca aksdkasfkaskfak kdkfkasfakfk askdakskassfkfkassf askdkaf assasdasd asfdas asfsadasf sdafaefkalfs afasfasf</p>-->

<!--<a href="https://mir-s3-cdn-cf.behance.net/project_modules/disp/68bc377491213.560ac51f81d23.jpg"><img  alt="" src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/68bc377491213.560ac51f81d23.jpg"  align="left" width="100" height="100" style="width: 15%; float: left; margin-right: 50px; margin-bottom: 0.5em;" ></a>-->
<!--<p style="width: 95%; margin-right: 1px; margin-bottom: 3em;" >Daft Punk dkaskdaskakv kddakaskkaskca aksdkasfkaskfak kdkfkasfakfk askdakskassfkfkassf askdkaf assasdasd asfdas asfsadasf sdafaefkalfs afasfasf</p>-->

<!--<a href="https://c.saavncdn.com/500/KK-Best-of-Me-Hindi-2015-500x500.jpg"><img  alt="" src="https://c.saavncdn.com/500/KK-Best-of-Me-Hindi-2015-500x500.jpg"  align="left" width="100" height="100" style="width: 15%; float: left; margin-right: 50px; margin-bottom: 0.5em;" ></a>-->
<!--<p style="width: 95%; margin-right: 1px; margin-bottom: 3em;" >KK dkaskdaskakv kddakaskkaskca aksdkasfkaskfak kdkfkasfakfk askdakskassfkfkassf askdkaf assasdasd asfdas asfsadasf sdafaefkalfs afasfasf</p>-->

<!--<a href="https://upload.wikimedia.org/wikipedia/en/7/71/The_Platinum_Collection_%28The_Doors_album%29.jpg"><img  alt="" src="https://upload.wikimedia.org/wikipedia/en/7/71/The_Platinum_Collection_%28The_Doors_album%29.jpg"  align="left" width="100" height="100" style="width: 15%; float: left; margin-right: 50px; margin-bottom: 0.5em;" ></a>-->
<!--<p style="width: 95%; margin-right: 1px; margin-bottom: 3em;" >The Doors dkaskdaskakv kddakaskkaskca aksdkasfkaskfak kdkfkasfakfk askdakskassfkfkassf askdkaf assasdasd asfdas asfsadasf sdafaefkalfs afasfasf</p>-->

<!--<a href="https://is1-ssl.mzstatic.com/image/thumb/Music22/v4/68/61/88/686188a5-b7de-3394-4510-a2f6d64dd848/886446258263.jpg/1200x630bb.jpg"><img  alt="" src="https://is1-ssl.mzstatic.com/image/thumb/Music22/v4/68/61/88/686188a5-b7de-3394-4510-a2f6d64dd848/886446258263.jpg/1200x630bb.jpg"  align="left" width="100" height="100" style="width: 15%; float: left; margin-right: 50px; margin-bottom: 0.5em;" ></a>-->
<!--<p style="width: 95%; margin-right: 1px; margin-bottom: 3em;" >Arijit Singh dkaskdaskakv kddakaskkaskca aksdkasfkaskfak kdkfkasfakfk askdakskassfkfkassf askdkaf assasdasd asfdas asfsadasf sdafaefkalfs afasfasf</p>-->

<!--<a href="https://up-1.cdn-fullscreendirect.com/production/photos/10272/original/20170828_225941_10272_1008737.jpeg"><img  alt="" src="https://up-1.cdn-fullscreendirect.com/production/photos/10272/original/20170828_225941_10272_1008737.jpeg"  align="left" width="100" height="100" style="width: 15%; float: left; margin-right: 50px; margin-bottom: 0.5em;" ></a>-->
<!--<p style="width: 95%; margin-right: 1px; margin-bottom: 3em;" >LP dkaskdaskakv kddakaskkaskca aksdkasfkaskfak kdkfkasfakfk askdakskassfkfkassf askdkaf assasdasd asfdas asfsadasf sdafaefkalfs afasfasf</p>-->

<!--<a href="https://1.bp.blogspot.com/-DTEnPAAWms8/Wk3DG4OhBWI/AAAAAAAAxk8/DArrgpxMP54gOaMJAAz9qq0T_CGLbV2QwCLcBGAs/s1600/led_zeppelin.jpg"><img  alt="" src="https://1.bp.blogspot.com/-DTEnPAAWms8/Wk3DG4OhBWI/AAAAAAAAxk8/DArrgpxMP54gOaMJAAz9qq0T_CGLbV2QwCLcBGAs/s1600/led_zeppelin.jpg"  align="left" width="100" height="100" style="width: 15%; float: left; margin-right: 50px; margin-bottom: 0.5em;" ></a>-->
<!--<p style="width: 95%; margin-right: 1px; margin-bottom: 3em;" >Led Zeppelin dkaskdaskakv kddakaskkaskca aksdkasfkaskfak kdkfkasfakfk askdakskassfkfkassf askdkaf assasdasd asfdas asfsadasf sdafaefkalfs afasfasf</p>-->

<!--<a href="/images/profile.png"><img  alt="" src="/images/profile.png"  align="left" width="100" height="100" style="width: 15%; float: left; margin-right: 50px; margin-bottom: 0.5em;" ></a>-->
<!--<p style="width: 95%; margin-right: 1px; margin-bottom: 3em;" >? dkaskdaskakv kddakaskkaskca aksdkasfkaskfak kdkfkasfakfk askdakskassfkfkassf askdkaf assasdasd asfdas asfsadasf sdafaefkalfs afasfasf</p>-->

<!--<a href="/images/profile.png"><img  alt="" src="/images/profile.png"  align="left" width="100" height="100" style="width: 15%; float: left; margin-right: 50px; margin-bottom: 0.5em;" ></a>-->
<!--<p style="width: 95%; margin-right: 1px; margin-bottom: 3em;" >? dkaskdaskakv kddakaskkaskca aksdkasfkaskfak kdkfkasfakfk askdakskassfkfkassf askdkaf assasdasd asfdas asfsadasf sdafaefkalfs afasfasf</p>-->


<!--<a href="/images/500x300.png"><img  alt="" src="/images/500x300.png" style="float: left; width: 23%; margin-right: 70%; margin-bottom: 0.5em;"  ></a><a href="/images/500x300.png"><img  alt="" src="/images/500x300.png" style="float: left; width: 23%; margin-right: 70%; margin-bottom: 0.5em;"  ></a><a href="/images/500x300.png"><img  alt="" src="/images/500x300.png" style="float: left; width: 23%; margin-right: 70%; margin-bottom: 0.5em;"  ></a><a href="/images/500x300.png"><img  alt="" src="/images/500x300.png" style="float: left; width: 23%; margin-right: 70%; margin-bottom: 0.5em;"  ></a>-->


<!-- always end image block with -->
<!--<p style="clear: both;">-->