---
layout: archive
title: "Robotics Projects"
permalink: /robotics/
author_profile: true
---

<p>
  Most of the projects below are group projects either from my junior and senior undergrad years
  or from my time at undergraduate robotics group <a href="https://www.youtube.com/channel/UC03W5RnYJ7qxyKfcSt0s6yQ"><button type="button" class="btn btn--info"><i class="fa fa-youtube-square"></i> MIT Tech Team </button></a>. I mainly contributed to the electronics part of them.
</p>


{% include base_path %}


{% for post in site.robotics %}
  {% include archive-single.html %}
{% endfor %}

