<script src="{{ base_path }}/assets/js/main.min.js"></script>

<!--DON'T ADD becasue it is already there-->
<!--<script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>-->
<!--<script src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>-->
<!--<script src="https://use.fontawesome.com/releases/v5.3.1/css/all.css"></script>-->


{% include analytics.html %}
{% include /comments-providers/scripts.html %}


<!--Read this -->
<!--https://github.com/mmistakes/minimal-mistakes/blob/89d3cb3d02a35c91a74d841f2c3ba23e45afe581/_includes/scripts.html-->
<!--SVG and JS-->
<!--<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js" integrity="sha384-kW+oWsYx3YpxvjtZjFXqazFpA7UP/MbiY4jvs+RWZo2+N94PFZ36T6TFkc9O3qoB" crossorigin="anonymous"></script>-->
<!--Web Fonts and CSS-->
<!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">-->